#Layer223 {
    background-color: #000000;
    filter: alpha(opacity=90);
    opacity: 0.90;
}
#Layer139 {
    background-color: transparent;
}
.share-btns {
	width:45px;
	height:45px;
}
#RollOver64 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver64:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver64 .front, #RollOver64 .back
{
   position: absolute;
}
#RollOver64 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver64 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver64 .front
{
   z-index: 2;
}
#RollOver64:hover .front
{
   z-index: 0;
}
#RollOver64 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver65 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver65:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver65 .front, #RollOver65 .back
{
   position: absolute;
}
#RollOver65 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver65 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver65 .front
{
   z-index: 2;
}
#RollOver65:hover .front
{
   z-index: 0;
}
#RollOver65 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver66 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver66:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver66 .front, #RollOver66 .back
{
   position: absolute;
}
#RollOver66 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver66 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver66 .front
{
   z-index: 2;
}
#RollOver66:hover .front
{
   z-index: 0;
}
#RollOver66 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver67 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver67:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver67 .front, #RollOver67 .back
{
   position: absolute;
}
#RollOver67 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver67 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver67 .front
{
   z-index: 2;
}
#RollOver67:hover .front
{
   z-index: 0;
}
#RollOver67 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver68 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver68:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver68 .front, #RollOver68 .back
{
   position: absolute;
}
#RollOver68 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver68 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver68 .front
{
   z-index: 2;
}
#RollOver68:hover .front
{
   z-index: 0;
}
#RollOver68 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver69 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver69:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver69 .front, #RollOver69 .back
{
   position: absolute;
}
#RollOver69 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver69 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver69 .front
{
   z-index: 2;
}
#RollOver69:hover .front
{
   z-index: 0;
}
#RollOver69 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver70 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver70:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver70 .front, #RollOver70 .back
{
   position: absolute;
}
#RollOver70 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver70 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver70 .front
{
   z-index: 2;
}
#RollOver70:hover .front
{
   z-index: 0;
}
#RollOver70 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#RollOver71 .image_container
{
   width: 45px;
   height: 45px;
   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
   -webkit-transition: 500ms;
   -moz-transition: 500ms;
   -ms-transition: 500ms;
   transition: 500ms;
}
#RollOver71:hover .image_container
{
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver71 .front, #RollOver71 .back
{
   position: absolute;
}
#RollOver71 img
{
   border-width: 0;
   width: 100%;
   height: 100%;
}
#RollOver71 .back
{
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 1;
   -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -moz-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   -ms-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
   transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}
#RollOver71 .front
{
   z-index: 2;
}
#RollOver71:hover .front
{
   z-index: 0;
}
#RollOver71 img
{
   border-width: 0;
   position: absolute;
   left: 0;
   top: 0;
   width: 45px;
   height: 45px;
}
#Image103
{
   border: 0px #000000 solid;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.catalog_c_img {
	border: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url('../../images/img2096.png');
    background-repeat: no-repeat;
    background-position: 50%;
}
.catalogue_modal_body {
	background-color:transparent;background-image:url('../../images/vcat_insider.png');background-size:cover;padding-top: 110px;
}
.catalogue_modal_body_bg {
	background-color:transparent;background-image:url('../../images/vcat_insider.png');background-repeat:no-repeat;background-size:cover;padding-top: 80px;background-size:initial;background-position:center;
}
.catalogue_page_item_name {
	color:#303030;font-family:Georgia;font-size:13px;padding-bottom:5px;padding-top:0px;
}
.catalogue_page_item_details {
	color:#787878;font-family:Arial;font-size:11px;padding-bottom:10px;min-height:67px;
}
.catalogue_page_item_quantity {
	color:#1E90FF;font-family:Arial;font-size:11px;padding-bottom:25px;
}
.catalogue_page_item_price_div {
	text-align: center;
	margin-bottom: -10px;
    z-index: 1;
}
.catalogue_page_item_price {
	background-color:#FF0000;color:#FFFFFF;font-family:Arial;font-size:17px;padding: 2px 10px;
}
.catalogue_page_item_mimg {
	width:303px;height:268px;padding-bottom:5px;padding:0px;
}
.catalogue_page_left_num {
	padding-top: 10px;
	background-color:#fff;
}
.catalogue_page_no_text {
	color:#D3D3D3;font-family:Arial;font-size:11px;
}
.catalogue_page_no_num {
	color:#FF6347;font-family:'Arial Black';font-size:16px;
}
.catalogue_page_item_mimg-sm {
	width:150px;height:115px;margin-top: 10px;margin-right:3px;
}
.catalogue_page_right_num {
	padding-top: 10px;
	background-color:#fff;
}
.catalogue_main_img {
	border: 1px solid #eee;
	width: 303px;
    height: 268px;
}
.catalogue_sub_img {
	border: 1px solid #eee;
	width: 150px;
    height: 115px;
}
.catalogue_modal_close {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff !important;
    font-size: 19px;
    opacity: 1;
}
li.share-button a{
	font-size:20px;
	color:#fa5c43;
	border :2px solid;
	margin-top: 20px;
	border-radius :50%;
	padding: 4px;
	width:25px;
	height :25px;
}
li.share-button a:hover{
	font-size:20px;
	color:#ffffff;
	border :2px solid;
	margin-top: 20px;
	border-radius :50%;
	padding: 4px;
	width:30px;
	height :30px;
}
ul.share{
	list-style-type: none;
	margin-top:  100%;
	line-height: 50px;
}
.b-wrap-left .catalogue_page_item_mimg {
	padding-left:15px;
}