<div [config]="{ show: true , backdrop: 'static'}" bsModal #addShownModal="bs-modal" class="modal fade Sub-Admin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" style="">
        <div class="modal-content admin-popup" style="background:#FAFAFA;">
            <div class="modal-header" style="background:#fafafa">
                <button type="button" class="close" [routerLink]="['../']" style="opacity:1;"><img src="images/img3424.png" width="30px"></button>
            </div>
            <div class="modal-body">
                <div class="row margin-bottom">
                    <div class="col-sm-3"><img src="images/img3235.png" class="img-responsive"></div>
                    <div class="col-sm-6">
                        <h1 style="color:#1E1E1E;font-family:Arial;font-size:16px;">Add User Profile Image</h1>
                        <input type="file" class="form-control input-box">
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm-6"><input type="text" class="form-control input-box" placeholder="user Name"></div>
                    <div class="col-sm-6"><input type="text" class="form-control input-box" placeholder="Email id"></div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm-6"><input type="text" class="form-control input-box" placeholder="Password"></div>
                    <div class="col-sm-6"><input type="text" class="form-control input-box" placeholder="security Code"></div>
                </div>

                <div class="row margin-bottom margin-top">
                    <div class="col-sm-6">
                        <h1 style="color:#2D2D2D;font-family:Georgia;font-size:21px;">User Permissions</h1>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 margin-top">

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="onoffswitch">
                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                                    <label class="onoffswitch-label" for="myonoffswitch">
        <span class="onoffswitch-inner"></span>
        <span class="onoffswitch-switch"></span>
    </label>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <span style="color:#1E1E1E;font-family:Arial;font-size:14px;">Login as an admin</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row text-center"><a href="#" class="btn btn-blue">Create</a> <a href="#" class="btn btn-blue">Cancel</a></div>
            </div>
        </div>
    </div>
</div>
