<div [config]="{ show: true , backdrop: 'static'}" bsModal #autoShownModal="bs-modal" class="modal fade Sub-Admin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="background:none;">
        <div class="modal-content admin-popup" style="background:none; box-shadow:none; border:none;">
            <div class="modal-header" style="border:none;">
                <button type="button" class="close" [routerLink]="['/']" style="opacity:1;"><img src="images/closeround.png" width="30px"></button>
                <h4 class="modal-title" id="myLargeModalLabel"><img src="images/user-new-3.png" width="40px"> Sub-Admin</h4>
            </div>
            <div class="modal-body" style="background:#F5F5F5">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-2">
                            <h3 class="sub-title">Manage</h3>
                        </div>
                        <div class="col-sm-10"> <a [routerLink]="['add']" class="btn btn-blue">Add Sub-Admin </a> <a [routerLink]="['suspended-list']" class="btn btn-black">Suspended List</a> </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-sm-7"> <a href="#" class="btn btn-login" data-toggle="modal" data-target=".Sub-Admin1">Logs</a> <a href="#" class="btn btn-login">Delete</a> <a href="#" class="btn btn-login">Suspend</a> <a href="#" class="btn btn-login">Edit</a> <a href="#"
                                class="btn btn-login">Permissions</a> </div>
                        <div class="col-sm-5">
                            <div class="row" style="margin:0px;">
                                <div class="col-xs-10">
                                    <div class="row">
                                        <input type="text" class="form-control input-box" placeholder="Search for sub admin" style="margin-top:20px;">
                                    </div>
                                </div>
                                <div class="col-xs-2">
                                    <div class="row"> <a href="#" class="btn btn-login">Search</a> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row tabel-div">
                    <div class="col-xs-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>