<div class="row">
  <div class="col-xs-12">
    <div class="col-sm-7"> <a href="#" class="btn btn-login">Logs</a> <a href="#" class="btn btn-login">Delete</a> <a href="#" class="btn btn-login">Suspend</a> <a href="#" class="btn btn-login">Edit</a> <a href="#" class="btn btn-login">Permissions</a> </div>
    <div class="col-sm-5">
      <div class="row" style="margin:0px;">
        <div class="col-xs-10">
          <div class="row">
            <input type="text" class="form-control input-box" placeholder="Search for sub admin"  style="margin-top:20px;">
          </div>
        </div>
        <div class="col-xs-2">
          <div class="row"> <a href="#" class="btn btn-login">Search</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>